@model CleanArchitecture.App.ViewModels.UserAccountsViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserAccounts.FirstOrDefault().Uid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserAccounts.FirstOrDefault().Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserAccounts.FirstOrDefault().Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserAccounts.FirstOrDefault().IsDelete)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserAccounts.FirstOrDefault().CreatedAt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.UserAccounts)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Uid)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsDelete)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedAt)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }
    </tbody>
</table>
